<div ng-controller="CheckoutCtrl" ng-init="init()">
    <div class="portlet col-md-8">

        <div ng-if="loading" class="row loading-message">
            <div  class="page-spinner-bar">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>

        <div class="form-group alert alert-info" ng-if="loading">
            <h4>Status</h4>
            <span>Your request is processing... Please wait.</span>
        </div>

        <div class="form-group alert alert-danger" ng-if="responseError && isArray(responseError)">
            <h4>Error occurred</h4>
            <span class="text-danger" ng-repeat="error in responseError">
                {{error}}<br/>
            </span>
        </div>

        <div class="form-group alert alert-danger" ng-if="responseError && !isArray(responseError)">
            <h4>Error occurred</h4>
            <span class="text-danger">
                {{responseError}}
            </span>
        </div>

        <div class="form-group alert alert-success" ng-if="showSuccessMessage">
            <h4>Your transaction is complete</h4>
            <span class="text-success">Your payment has been successfully processed. Thank you.</span>
        </div>

        <div ng-if="showConfirm && !showSuccessMessage">
            <form name="confirmForm" novalidate>
                <div class="portlet">
                    <h3>Confirm payment:</h3>
                    <ul class="list-group">
                        <li class="list-group-item text-info"><b>License Plate:</b> {{paypalResponse.licensePlate}}</li>
                        <li class="list-group-item text-info"><b>Parking Id:</b> {{paypalResponse.parkingId}}</li>
                        <li class="list-group-item text-info"><b>Currency:</b> {{paypalResponse.currency}}</li>
                        <li class="list-group-item text-info"><b>Amount:</b> {{paypalResponse.amount}}</li>
                        <li class="list-group-item text-info"><b>Start Timestamp:</b> {{paypalResponse.paymentFromTimestamp}}</li>
                        <li class="list-group-item text-info"><b>End Timestamp:</b> {{paypalResponse.paymentUntilTimestamp}}</li>
                    </ul>

                    <button type="submit" class="btn btn-default" ng-click="confirm()">
                        Confirm
                    </button>
                </div>
            </form>
        </div>

    </div>
</div>
