<form name="form" ng-controller="RegisterCtrl" ng-submit="completeRegistration(password, repeatPassword)" novalidate>
    <div class="portlet col-md-4">
        <div class="form-group">
            <label for="password">{{ 'Password'}}:</label>
            <input name="password" required class="form-control" type="password" id="password" ng-model="password">
        </div>
        <div ng-if="form.password.$error.required && (form.password.$dirty || submitted[2])">
            <div class="field-error">
                Please enter the password.
            </div>
        </div>
        <div class="form-group">
            <label for="repeatPassword">{{ 'Repeat password'}}:</label>
            <input name="repeatPassword" required class="form-control" type="password" id="repeatPassword" ng-model="repeatPassword">
        </div>
        <div ng-if="form.repeatPassword.$error.required && (form.repeatPassword.$dirty || submitted[2])">
            <div class="field-error">
                Please repeat the password.
            </div>
        </div>
        <div ng-if="(password !== repeatPassword) && repeatPassword.length > 0">
            <div class="field-error">
                Passwords do not match
            </div>
        </div>
        <button type="submit" class="btn btn-default">Save</button>
    </div>
</form>
