<div ng-controller="ConfirmCtrl" ng-init="init()">
    <div class="portlet col-md-8">

        <div ng-if="loading" class="row loading-message">
            <div class="page-spinner-bar">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>

        <div class="alert alert-info" ng-if="loading">
            <h3>Status</h3>
            <span>Your request is processing... Please wait.</span>
        </div>

        <div class="alert alert-danger" ng-if="responseError && isArray(responseError)">
            <h3>Error occurred</h3>
            <span class="text-danger" ng-repeat="error in responseError">
                {{error}}<br/>
            </span>
        </div>

        <div class="alert alert-danger" ng-if="responseError && !isArray(responseError)">
            <h3>Error occurred</h3>
            <span class="text-danger">
                {{responseError}}
            </span>
        </div>

        <div class="alert alert-success" ng-if="showSuccessMessage">
            <h3>Your transaction is complete</h3>
            <span class="text-success">Your payment has been successfully processed. Thank you.</span>
        </div>

        <div ng-if="showConfirm && !showSuccessMessage">
            <div class="portlet">
                <h3>Confirm payment:</h3>
                <ul class="list-group">
                    <li class="list-group-item text-info"><b>License Plate:</b> {{paypalResponse.licensePlate}}</li>
                    <li class="list-group-item text-info"><b>Parking Id:</b> {{paypalResponse.parkingId}}</li>
                    <li class="list-group-item text-info"><b>Currency:</b> {{paypalResponse.currency}}</li>
                    <li class="list-group-item text-info"><b>Amount:</b> {{paypalResponse.amount}}</li>
                    <li class="list-group-item text-info"><b>Payment From Timestamp:</b>
                        {{paypalResponse.paymentFromTimestamp}}
                    </li>
                    <li class="list-group-item text-info"><b>Payment Until Timestamp:</b>
                        {{paypalResponse.paymentUntilTimestamp}}
                    </li>
                </ul>

                <button type="button" class="btn btn-default" ng-click="confirm()">
                    Confirm
                </button>

                <a href="/api/paypal/pdf?guid={{guid}}&paymentId={{paymentId}}&&PayerID={{payerID}}"
                   class="btn btn-info" role="button">Download PDF receipt</a>
            </div>
        </div>

    </div>
</div>
