<div ng-controller="ConfirmCtrl" ng-init="init()">
    <div class="portlet col-md-8">

        <div ng-if="loading" class="row loading-message">
            <div class="page-spinner-bar">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>

        <div class="alert alert-info" ng-if="loading">
            <h3>{{ 'status' | translate }}</h3>
            <span>{{ 'your_request_is_processing_please_wait' | translate }}</span>
        </div>

        <div class="alert alert-danger" ng-if="responseError && isArray(responseError)">
            <h3>{{ 'error_occurred' | translate }}</h3>
            <span class="text-danger" ng-repeat="error in responseError">
                {{error}}<br/>
            </span>
        </div>

        <div class="alert alert-danger" ng-if="responseError && !isArray(responseError)">
            <h3>{{ 'error_occurred' | translate }}</h3>
            <span class="text-danger">
                {{responseError}}
            </span>
        </div>

        <div class="row" ng-if="showSuccessMessage">
            <div class="alert alert-success">
                <h3>{{ 'your_transaction_is_complete' | translate }}</h3>
                <span class="text-success">{{ 'your_payment_has_been_successfully_processed_thank_you' | translate }}</span>
            </div>
            <a href="/api/paypal/pdf?paymentId={{paypalParams.paymentId}}"
               class="btn btn-info" role="button">{{ 'download_PDF_receipt' | translate }}</a>
        </div>

        <div ng-if="showConfirm && !showSuccessMessage">
            <div class="portlet">
                <h3>{{ 'confirm_payment' | translate }}:</h3>
                <ul class="list-group">
                    <li class="list-group-item text-info"><b>{{ 'license_plate' | translate }}:</b> {{paypalResponse.licensePlate}}</li>
                    <li class="list-group-item text-info"><b>{{ 'parking_id' | translate }}:</b> {{paypalResponse.parkingId}}</li>
                    <li class="list-group-item text-info"><b>{{ 'currency' | translate }}:</b> {{paypalResponse.currency}}</li>
                    <li class="list-group-item text-info"><b>{{ 'amount' | translate }}:</b> {{paypalResponse.amount}}</li>
                    <li class="list-group-item text-info"><b>{{ 'date' | translate }}:</b> {{paypalResponse.paymentTimestamp| date:'yyyy-MM-dd'}}</li>
                    <!--
                    <li class="list-group-item text-info"><b>Payment From Timestamp:</b>
                        {{paypalResponse.paymentFromTimestamp}}
                    </li>
                    <li class="list-group-item text-info"><b>Payment Until Timestamp:</b>
                        {{paypalResponse.paymentUntilTimestamp}}
                    </li>
                    -->
                </ul>

                <button type="button" class="btn btn-default" ng-click="confirm()">
                    {{ 'confirm' | translate }}
                </button>
            </div>
        </div>

    </div>
</div>
