<form name="loginForm" ng-controller="LoginCtrl" ng-submit="login(credentials)" novalidate data-ng-init="init()">
    <div class="portlet col-md-4">
        <div class="form-group">
            <label for="login">Login:</label>
            <input class="form-control" type="text" id="login" ng-model="credentials.login">
        </div>
        <div class="form-group">
            <label for="password">{{ 'cust.custpswd' | translate }}:</label>
            <input class="form-control" type="password" id="password" ng-model="credentials.password">
        </div>
        <label>{{ 'cust.langcode' | translate }}:</label>
        <div class="form-group">
            <div class="input-group" style="width: 200px;">
                <ui-select id="language" ng-model="language.selected" search-enabled="false">
                    <ui-select-match placeholder="{{ 'language' | translate }}">
                        <img ng-src="/assets/global/img/flags/{{$select.selected.code}}.png"/>
                        <span ng-bind-html="$select.selected.name"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="language in languages">
                        <img ng-src="/assets/global/img/flags/{{language.code}}.png"/>
                        <span ng-bind-html="language.name"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <button type="submit" class="btn btn-default">Login</button>
    </div>
</form>
