<div ng-controller="SearchCtrl">
    <div class="row">
        <form name="searchForm" novalidate data-ng-init="init()">
            <div class="col-md-5 bottom-space">
                <h3>Kjennemerke søk</h3>

                <div class="form-group">
                    <div class="required-field-block">
                        <input class="form-control" type="text" name="q" ng-model="query" placeholder="Eksempel: BL50000"
                               required ng-change="submitted=false">
                        <div class="required-icon" data-original-title="" title="">
                            <div class="text">*</div>
                        </div>
                        <div>
                            Se etter ikke oppgjorte parkeringer/passeringer. Ikke oppgjorte parkeringer/passeringer er tilgjengelige i 48 timer etter utpassering før de blir sendt til klargjøring for fakturering.
                        </div>
                    </div>
                </div>
                <div class="form-group alert alert-danger" ng-if="submitted && searchForm.q.$error.required">
                    <span class="text-danger">Kjennemerke påkrevd</span>
                </div>
                <div class="form-group alert alert-info"
                     ng-if="submitted && searchForm.q.$valid && licensePlates.length === 0">
                    <span class="text-info">Vi finner ikke {{query}}.<br/>
                        Er du sikker du har tastet riktig kjennemerke?<br/>
                        Prøv igjen. Om vi fortsatt ikke finner kjennemerke kan en faktura bli sendt i posten.</span>
                </div>

                <!-- TODO: uncomment to use in multitenant environments-->
                <!--<div class="form-group alert alert-info"-->
                     <!--ng-if="unableToDetermineClientForHostname">-->
                    <!--<span class="text-info">-->
                        <!--Unable to determine client for this hostname-->
                    <!--</span>-->
                <!--</div>-->

                <div class="form-group alert alert-danger"
                     ng-if="responseError && isArray(responseError) && searchForm.$valid">
                    <span class="text-danger" ng-repeat="e in responseError">
                        {{e}}<br/>
                    </span>
                </div>
                <div class="form-group alert alert-danger"
                     ng-if="responseError && !isArray(responseError) && searchForm.$valid">
                    <span class="text-danger">
                        {{responseError}}
                    </span>
                </div>
                <button type="submit" class="btn btn-default" ng-click="submitted=true; searchForm.$valid && submit(q)">
                    Søk
                </button>
            </div>
        </form>
    </div>
    <div ng-if="loading" class="row loading-message">
        <div class="page-spinner-bar">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <div ng-show="submitted && searchForm.q.$valid && licensePlates.length > 0" class="row">
        <div class="table-responsive left-space-padding">
            <table class="table" id="license-plates-tbl">
                <thead>
                <tr>
                    <th>Kjennemerke</th>
                    <th>Valuta</th>
                    <th>Skyldig beløp</th>
                    <th>Dato</th>

                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="lp in licensePlates"
                    ng-class="{'danger': checkErrorStatus($index) == true }">
                    <td>{{lp.licensePlate}}</td>
                    <td>{{lp.currency}}</td>
                    <td>{{lp.dueAmount}}</td>
                    <td>{{lp.startTimestamp| date:'yyyy-MM-dd'}}</td>

                    <td>
                        <button type="button" class="btn btn-default" ng-click="pay($index)">Betal</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
