<div ng-controller="SearchCtrl">
    <div class="row">
        <form name="searchForm" novalidate data-ng-init="init()">
            <div class="col-md-5 bottom-space">
                <h3>License Plate Search</h3>

                <div class="form-group">
                    <div class="required-field-block">
                        <input class="form-control" type="text" name="q" ng-model="query" placeholder="License Plate"
                               required ng-change="submitted=false">
                        <div class="required-icon" data-original-title="" title="">
                            <div class="text">*</div>
                        </div>
                    </div>
                </div>
                <div class="form-group alert alert-danger" ng-if="submitted && searchForm.q.$error.required">
                    <span class="text-danger">License Plate required</span>
                </div>
                <div class="form-group alert alert-info"
                     ng-if="submitted && searchForm.q.$valid && licensePlates.length === 0">
                    <span class="text-info">We could not find any results for {{query}}.</span>
                </div>
                <div class="form-group alert alert-info"
                     ng-if="unableToDetermineClientForHostname">
                    <span class="text-info">
                        Unable to determine client for this hostname
                    </span>
                </div>
                <div class="form-group alert alert-danger"
                     ng-if="responseError && isArray(responseError) && searchForm.$valid">
                    <span class="text-danger" ng-repeat="e in responseError">
                        {{e}}<br/>
                    </span>
                </div>
                <div class="form-group alert alert-danger"
                     ng-if="responseError && !isArray(responseError) && searchForm.$valid">
                    <span class="text-danger">
                        {{responseError}}
                    </span>
                </div>
                <button type="submit" class="btn btn-default" ng-click="submitted=true; searchForm.$valid && submit(q)">
                    Find
                </button>
            </div>
        </form>
    </div>
    <div ng-if="loading" class="row loading-message">
        <div class="page-spinner-bar">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <div ng-show="submitted && searchForm.q.$valid && licensePlates.length > 0" class="row">
        <div class="table-responsive left-space-padding">
            <table class="table" id="license-plates-tbl">
                <thead>
                <tr>
                    <th>License Plate</th>
                    <th>Currency</th>
                    <th>Due Amount</th>
                    <th>Start Date</th>

                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="lp in licensePlates"
                    ng-class="{'danger': checkErrorStatus($index) == true }">
                    <td>{{lp.licensePlate}}</td>
                    <td>{{lp.currency}}</td>
                    <td>{{lp.dueAmount}}</td>
                    <td>{{lp.startTimestamp| date:'yyyy-MM-dd'}}</td>

                    <td>
                        <button type="button" class="btn btn-default" ng-click="pay($index)">Make payment</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
