<div ng-controller="SearchCtrl">
    <div class="row">
        <form name="searchForm" ng-submit="submitted = true" novalidate data-ng-init="init()">
            <div class="portlet col-md-5">
                <h3>License Plate Search</h3>
                <div class="required-field-block">
                    <input class="form-control" type="text" id="licensePlate" name="q" ng-model="query" placeholder="License Plate" required>
                    <div class="required-icon" data-original-title="" title="">
                        <div class="text">*</div>
                    </div>
                </div>
                <div class="form-group">
                    <span ng-if="submitted && searchForm.q.$error.required" style="color:red;">License Plate required</span>
                </div>
                <div class="form-group">
                    <span ng-if="submitted && responseError" style="color:red;">{{responseError}}</span>
                </div>

                <button type="submit" class="btn btn-default" ng-click="searchForm.$valid && submit(q)">Find</button>
            </div>
        </form>
    </div>
    <div ng-if="loading" class="row loading-message">
        <div  class="page-spinner-bar">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <div ng-show='searchForm.$submitted && licensePlates.length == 0' class="row">
        We could not find any results for {{submittedQuery}}.
    </div>

    <table ng-show='searchForm.$submitted && licensePlates.length > 0' class="table">
        <thead>
            <tr>
                <th>LicensePlate</th>
                <th>Currency</th>
                <th>DueAmount</th>
                <th>ParkingId</th>
                <th>Description</th>
                <th>StartTimestamp</th>
                <th>EndTimestamp</th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="lp in licensePlates">
            <td>{{lp.licensePlate}}</td>
            <td>{{lp.currency}}</td>
            <td>{{lp.dueAmount}}</td>
            <td>{{lp.parkingId}}</td>
            <td>{{lp.description}}</td>
            <td>{{lp.startTimestamp}}</td>
            <td>{{lp.endTimestamp}}</td>
        </tr>
        </tbody>
    </table>
</div>
