<div ng-controller="ParkingContractsCtrl" data-ng-init="init()">
    <div class="col-md-12">

        <div ng-if="loading || clientsLoading || zonesLoading" class="row loading-message">
            <div class="page-spinner-bar">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>

        <!-- BEGIN PARKING CONTRACTS CONTENT -->
        <div ng-show="!loading && !clientsLoading && !zonesLoading" class="tab-pane page-quick-sidebar-settings">
            <div class="page-quick-sidebar-settings-list">
                <h3 class="list-heading">Parking Contracts</h3>
                <ul class="list-items borderless">
                    <li> Select Parking Contract
                        <select ng-model="selectedParkingContract" ng-change="loadParkingContract()"
                                class="form-control input-inline input-medium"
                                ng-options="y.name for (x, y) in parkingContracts">
                            <option value="">-- select --</option>
                        </select>
                    </li>
                </ul>

                <div class="form-group alert alert-danger"
                     ng-if="responseError && isArray(responseError)">
                    <h4>Error occurred</h4>
                    <span class="text-danger" ng-repeat="e in responseError">
                        {{e}}<br/>
                    </span>
                </div>
                <div class="form-group alert alert-danger"
                     ng-if="responseError && !isArray(responseError)">
                    <h4>Error occurred</h4>
                    <span class="text-danger">
                        {{responseError}}
                    </span>
                </div>

                <div class="form-group alert alert-success"
                     ng-if="parkingContractSavedOk">
                    <h4>Status</h4>
                    <span class="text-success">Parking contract updated</span>
                </div>

                <form ng-show="parkingContract" name="parkingContractForm"
                      ng-submit="parkingContractForm.$valid && saveParkingContract(parkingContract)">
                    <div class="form-group">
                        <label class="control-label" for="name">Name:</label>
                        <input id="name" name="name" class="form-control" type="text" required
                               ng-model="parkingContract.name"
                               maxlength="35">
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="zoneId">Zone:</label>
                        <select ng-model="parkingContract.zone" name="zoneId" id="zoneId" required
                                class="form-control input-inline input-medium"
                                ng-options="item.id for item in zones">
                            <option value="">-- select --</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="clientId">Client:</label>
                        <select ng-model="parkingContract.client" name="clientId" id="clientId" required
                                class="form-control input-inline input-medium"
                                ng-options="item.id for item in clients">
                            <option value="">-- select --</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="maxItemCount">Max item count:</label>
                        <input id="maxItemCount" name="maxItemCount" class="form-control" type="text" placeholder="10"
                               ng-model="parkingContract.maxItemCount"
                               maxlength="10">
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="description">Description:</label>
                        <input id="description" name="description" class="form-control" type="text"
                               placeholder="Description"
                               ng-model="parkingContract.description"
                               maxlength="200">
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="contractType">Contract type:</label>
                        <input id="contractType" name="contractType" class="form-control" type="text"
                               ng-model="parkingContract.contractType"
                               maxlength="10">
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="maxUtilizationCount">Max utilization count:</label>
                        <input id="maxUtilizationCount" name="maxUtilizationCount" class="form-control" type="text"
                               placeholder=""
                               ng-model="parkingContract.maxUtilizationCount"
                               maxlength="10">
                    </div>

                    <div class="inner-content">
                        <button type="submit" class="btn btn-success">
                            <i class="icon-settings"></i> Save Changes
                        </button>
                    </div>
                </form>

            </div>
            <!-- END PARKING CONTRACTS CONTENT -->
        </div>
    </div>
</div>
