<form name="form" ng-controller="RegisterCtrl" ng-submit="confirmRegistration(confirmCode)" novalidate>
    <div class="portlet col-md-4">
        <div class="form-group">
            <label for="confirmCode">{{ 'Enter the code'}}:</label>
            <input class="form-control"
                   type="number"
                   autocomplete="off"
                   id="confirmCode"
                   name="confirmCode"
                   required
                   ng-model="confirmCode">
        </div>
        <div ng-if="form.confirmCode.$error.required && (form.confirmCode.$dirty || submitted[1])">
            <div class="field-error">
                Please enter the confirmation code.
            </div>
        </div>
        <button type="submit" class="btn btn-default">Confirm</button>
        <div ng-if="invalidConfirmCode">
            <div class="form-error">
                Incorrect confirmation code.
            </div>
        </div>
    </div>
</form>
